
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index Page for Fanpage about Hoid</h1>
    <p>
        Hoid is the most enigmatic character in Brandon Sanderson's Cosmere, and the only one to appear in all books thus far. <br />
        <a class=btn btn-primary" asp-action="History">History</a> <br />
        <a class=btn btn-primary" asp-action="Stories">Stories</a> <br />
    </p>
</body>
</html>