
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
</head>
<body>
    <h1>Stories</h1>
    <p>
        Fanfic about the other things our favorite world hopper has done, off the pages
    </p>
    <form>
        <label>Your story</label>
        <input />
    </form>
</body>
</html>