@model HoidFansite.Models.UserReview
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Review: " + ViewBag.Fanfic.Title;
}
<!DOCTYPE html>
<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-ceenter"><h4>@ViewData["Title"]</h4></div>
        <div class="panel-body">
            <form class="p-1" asp-action="ReviewForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Title">Review Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Author">Your Name</label>
                    <input class="form-control" asp-for="Author" />
                </div>
                <div class="form-group">
                    <label asp-for="Review">Your Review</label>
                    <textarea class="form-control" asp-for="Review"></textarea>
                </div>
                <div class="form-check-label">
                    <label asp-for="Rating">Select a rating!</label>
                </div>
                <!--
                foreach (var rating in Model.Ratings)
                {
                    <div class=" form-check form-check-inline">
                        <input type="radio" asp-for="Rating" value="rating" />Model.RatingTitle[rating - 1]<br />
                    </div>
                }
                 <div class="form-group">
        <label asp-for="StoryID">Story ID</label>
        <input class="form-control" asp-for="StoryID" value="ViewBag.Fanfic.StoryID" />
    </div> -->
                <div class="text-center">
                    <button class="btn btn-primary btn-submit" type="submit">
                        Submit Review
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 