@model HoidFansite.Models.UserReview
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Review: " + ViewBag.Fanfic.Title;
}
<!DOCTYPE html>
<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-ceenter"><h4>@ViewData["Title"]</h4></div>
        <div class="panel-body">
            <form class="p-1" asp-action="ReviewForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Title">Review Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Author">Your Name</label>
                    <input class="form-control" asp-for="Author" value="Anonymous" />
                </div>
                <div class="form-group">
                    <label asp-for="Review">Your Review</label>
                    <textarea class="form-control" asp-for="Review"></textarea>
                </div>
                <div class="form-check-label">
                    <label asp-for="Rating">Select a rating!</label>
                </div>
                <div class=" form-check form-check-inline">
                    <label><input asp-for="Rating" value="1" type="radio" />1 Star</label>
                    <label><input asp-for="Rating" value="2" type="radio" />2 Star</label>
                    <label><input asp-for="Rating" value="3" type="radio" checked />3 Star</label>
                    <label><input asp-for="Rating" value="4" type="radio" />4 Star</label>
                    <label><input asp-for="Rating" value="5" type="radio" />5 Star</label>
                </div>
                <input asp-for="StoryID" value="@ViewBag.Fanfic.StoryID" type="hidden" />
                <div class="text-center">
                    <button class="btn btn-primary btn-submit" type="submit">
                        Submit Review
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 