@model string

@{
    Layout = "_Layout";
    UserStory fanfic = HoidFansite.Models.StoryRepository.GetStoryByID(Model);
    ViewBag.Title = "Reviews:" + fanfic.Title;
}

<!DOCTYPE html>

<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel-body">
        <h2>Fanfiction</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Review Title</th>
                    <th>Reviewer</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HoidFansite.Models.UserReview r in fanfic.Reviews)
                 {
                    <tr>
                        <td>@r.Title</td>
                        <td>@r.Author</td>
                        <td>@r.Rating</td>
                    </tr>
                    <tr>
                        <td colspan="3">@r.Body</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</body>
</html>