@{
    Layout = "_myLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h3>Successful Submission</h3>
    <p>
        Thank you for sharing your creative talents with everyone!<br />
    </p>
</body>
</html>