@model HoidFansite.Models.UserStory
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Submit Fanfiction";
}

<!DOCTYPE html>

<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-ceenter"><h4>Your Story</h4></div>
        <div class="panel-body">
            <form class="p-1" asp-action="StoryForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Author">Your Name:</label>
                    <input class="form-control" asp-for="Author" />
                </div>
                <div class="form-group">
                    <label asp-for="Title">Story Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Body">Story Body</label>
                    <input class="form-control" asp-for="Body" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-submit" type="submit">
                        Submit Story
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

