<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .scaledForm {
            margin-left: 10%;
            margin-right: 10%;
            border: double 3px midnightblue;
            background-color: lightskyblue;
        }
        .panel{
            margin: 2%;
        }
        .form-control{
            background-color: lightgrey;
        }
        .btn-submit {
            background-color: dimgrey;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark">
        <h4>Site Navigation:</h4>
        <a class=btn btn-primary" href="/Home/Index">Home</a> <br />
        <a class=btn btn-primary" href="/Home/History">History</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" href="/Sources/LinkList">List of related links</a>
    </nav>
    <div class="scaledForm">
        @RenderBody()
    </div>
</body>
</html>
