<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-dark">
        <h4>Site Navigation:</h4>
        <a class=btn btn-primary" href="/Home/Index">Home</a> <br />
        <a class=btn btn-primary" href="/Home/History">History</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" href="/Sources/LinkList">List of related links</a>
    </nav>
    <div>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </div>
</body>
</html>
