
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books and Print Media</title>
</head>
<body>
    <p>
        Add content later
    </p>
</body>
</html>