
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sources</title>
</head>
<body>
    <p>
        <a class=btn btn-primary" asp-action="links">RSVP Now</a> <br />
        <a class=btn btn-primary" asp-action="Books">RSVP Now</a>
    </p>
</body>
</html>