
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>
    <h1>History</h1>
    <ul>
        <li>
            <i>Elantris</i> Named appearance, as a beggar, hired by Sarene to move weapons. Chapter 58. Like many
            of his appearances, it only lasts a page or two and doesn't stand out unless you've noticed his
            name in other books, but later editions of Elantris include a hidden final scene which make clear
            his motives are more mysterious than weapons smuggling.
            <ul>
                <li>
                    Also <i>The Emperor's Soul</i>, not exactly appeared, but as the Imperial Fool he is responsible
                    for Shai's predicament. A scene was removed where he directly appeared; he appeared unnamed,
                    but description (hawk face, black and white costume) and conversation closely matches other
                    appearances.
                </li>
            </ul>
        </li>
        <li>
            <i>Mistborn</i> series, in every last work.
            <ul>
                <li>
                    <i>Mistborn: The Final Empire</i> Named appearance, as a beggar, consulted by Kelsier for information.
                    Part Three, Chapter 19.
                </li>
                <li>
                    <i>The Well of Ascension</i> Unnamed, described only as an old man, the one Elend discusses the attack
                    on Terris with, and overheard Elend's mention of the Well in Luthadel. Part Five, Chapter 56.
                    Other scenes implying what he was up to were removed, but are shown explicitly later.
                </li>
                <li>
                    <i>The Hero of Ages</i> Named by Cett in his list of contacts, and appears as a beggar, but only from
                    a distance, as the one Vin chooses not to contact on a gut feeling, so not much of an appearance.
                </li>
                <li>
                    <i>The Alloy of Law</i> Unnamed, appears only as a beggar, talking to the wedding couple at the
                    reception Wax attends before it is attacked. Chapter 4.
                </li>
                <li>
                    <i>Shadows of Self</i> Named, performing as one of Wax's coach drivers, possibly listening in on Wax's
                    important conversation on that ride.
                </li>
                <li>
                    <i>The Bands of Mourning</i> Named, appearing as a beggar again outside the party at New Seran, this
                    time getting involved and slipping Wax a clue vital to the case at hand.
                </li>
                <li>
                    <i>Mistborn: Secret History</i> Unnamed, but clearly described so as to make no mistake (white hair,
                    angular face), gets named Drifter for the rest of the novella. Details and confirms his appearances in
                    both Well and Hero from a new perspective.
                </li>
            </ul>
        </li>
        <li>
            <i>Warbreaker</i> Named, playing the part of storyteller to Lightsong and Siri, and giving Siri plenty of background
            on the Returned. Chapter 32. Probably the longest conversation he has before...
        </li>
        <li>
            <i>More to be added soon!</i>
        </li>
    </ul>

    <i>
        Credit for this history goes to user Radhil, in
        <a href="https://scifi.stackexchange.com/questions/119871/how-many-appearances-of-hoid-have-there-been">this post</a>
    </i>

    <nav>
        <h3>Site Navigation:</h3>
        <a class=btn btn-primary" asp-action="Index">Home</a> <br />
        <a class=btn btn-primary" asp-action="History">History</a> <br />
        <a class=btn btn-primary" asp-action="StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" asp-action="/Sources/LinkList">List of related links</a>
    </nav>
</body>
</html>