@{
    Layout = "_Layout";
    ViewBag.Title = "Meet Hoid!";
}

<!DOCTYPE html>

<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <p>
        Hoid is the most enigmatic character in Brandon Sanderson's Cosmere. This site is a consolidation of
        information available about him for my enjoyment!<br />
    </p>
</body>
</html>