@model List<HoidFansite.Models.UserStory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fanfiction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <div class="panel-body">
        <h2>Fanfiction</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HoidFansite.Models.UserStory s in Model)
                {
                    <tr>
                        <td>@s.Title</td>
                        <td>@s.Author</td>
                    </tr>
                    <tr>
                        <td colspan="2">@s.Body</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <nav>
        <h3>Site Navigation:</h3>
        <a class=btn btn-primary" asp-action="Index">Home</a> <br />
        <a class=btn btn-primary" asp-action="History">History</a> <br />
        <a class=btn btn-primary" asp-action="StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" asp-action="/Sources/LinkList">List of related links</a>
    </nav>
</body>
</html>