@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Successful Submission</h1>
    <p>
        Thank you for sharing your creative talents with everyone!<br />
    </p>
    <nav>
        <h3>Site Navigation:</h3>
        <a class=btn btn-primary" asp-action="Index">Home</a> <br />
        <a class=btn btn-primary" asp-action="History">History</a> <br />
        <a class=btn btn-primary" asp-action="StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" asp-action="/Sources/LinkList">List of related links</a>
    </nav>
</body>
</html>