@model List<HoidFansite.Models.Link>
@{
    Layout = null;
}

<!DOCTYPE ="html">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Media</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here are some relevant links!</h2>
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                @foreach (HoidFansite.Models.Link l in Model)
                {
                    <tr>
                        <td><a href="@l.Address">@l.Title</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <nav>
        <h3>Site Navigation:</h3>
        <a class=btn btn-primary" asp-action="Index">Home</a> <br />
        <a class=btn btn-primary" asp-action="History">History</a> <br />
        <a class=btn btn-primary" asp-action="StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" asp-action="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" asp-action="/Sources/LinkList">List of related links</a>
    </nav>
</body>
</html>