@model List<HoidFansite.Models.Link>
@{
    Layout = "_myLayout";
    ViewBag.Title = "Related Links";
}

<!DOCTYPE ="html">

<html>
<head>
    <!-- _myLayout -->
</head>
<body>
    <div class="panel-body">
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                @foreach (HoidFansite.Models.Link l in Model)
                {
                    <tr>
                        <td><a href="@l.Address">@l.Title</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>