@{
    Layout = null;
}

<!DOCTYPE ="html">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Media</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here are some relevant links!</h2>
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                <!-- foreach (HoidFansite.Models.Link l in Model) -->
                <!-- sample link until list is implemented -->
                <tr>
                    <td><a href="https://coppermind.net/wiki/Hoid">Coppermind - Hoid</a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>
</html>